*{
    margin: 0px;
    padding: 0px;
}
.container{
    
    background-image: linear-gradient(rgb(29, 29, 59), rgb(95, 87, 87));
    
    /* flex-direction: column; */
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(100, 99, 99);
    width: 100%;
    background-image: radial-gradient(black, rgb(31, 31, 54) );
    

}

/* .navbar a{
    text-decoration: none;
    padding: 14px 16px ; 
    font-size: 20px ;
    text-align: center;  
    color: white;
}

.navbar a:hover{
   color: thistle;
   cursor: pointer;
} */

 /* Add a black background color to the top navigation */
 .topnav {
    background-image: radial-gradient(black, rgb(31, 31, 54) );
    overflow: hidden;
    width:100%;
 }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    /* background-color: #04AA6D; */
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  } 

#image{
    width: 60px;
    position: relative;
    right: 0px;
    margin-left: 5px;
    margin-right: 70vh;
}


.h{
    font-size: 20vh;
    color: whitesmoke;
    margin-top: 15vh;
    margin-left: 5vh ;
    text-transform:uppercase;
    font-family:'Kanit', sans-serif;
}

h2{
    color: whitesmoke;
    text-transform:uppercase;
    font-family:'Kanit', sans-serif;
    font-size: 8vh;
    margin-left: 5vh;
}

.footer{
    margin-top: 5px;
    padding: 20px;
    border-top: 1px solid rgb(100, 99, 99);
    background-image: radial-gradient(black, rgb(31, 31, 54) );
    color: white;
    text-align: center;
}

#construct{
  margin-top: 30vh;
  width: 100%;
  height: auto;
}

.text{
    color: white;
    position: relative;
    top: -115vh;
    /* left: 50vh; */
    font-size: 5vh;
    font-family: sans-serif;
    padding-left: 70vh;
}

.text2{
    color: #EDB525;
    position: relative;
    top: -24vh;
    /* left: 50vh; */
    font-size: 12vh;
    font-family: sans-serif;
    padding-left: 70vh;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:  1px solid rgb(100, 99, 99); */
    position: relative;
    top: -10vh;
}

input,textarea,button{
    width: 33%;  
    margin: 10px; 
    padding: 10px;
    border-radius: 10px;
    border:  2px solid rgb(100, 99, 99);
    color:rgb(31, 31, 54);
    font-weight: 500;
    font-size: 15px;
}

h3{
    font-size: 35px;
    color: rgb(235, 231, 227);
}

button:hover{
    background-color: rgb(19, 12, 19);
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .navbar{
        width: 100%;
    }

   .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

    #image{
        width: 60px;
        position: relative;
        left: 10vh;
        
    }

    .text{
        padding: 0px;
        position: relative;
        top: -40vh;
        font-size: 15px;
        text-align: center;
    }

    .text2{
        padding: 0px;
        font-size: 20px;
        text-align: center;
        position: relative;
        top: -8.5vh;
    }

    .h{
        font-size: 7vh;
        color: whitesmoke;
        margin-top: 15vh;
        margin-left: 5vh ;
        text-transform:uppercase;
        font-family:'Kanit', sans-serif;
    }

    h2{
        color: whitesmoke;
        text-transform:uppercase;
        font-family:'Kanit', sans-serif;
        font-size: 3vh;
        margin-left: 5vh;
    }

    #construct{
      margin-top: 100px;
    }

    .contact{
        position: relative;
        top: 0px;
    }

    input,textarea,button{
        width: 60%;  
        margin: 10px; 
        padding: 8px;
        border-radius: 10px;
        border:  2px solid rgb(100, 99, 99);
        color:rgb(31, 31, 54);
        font-weight: 500;
        font-size: 14px;
    }

    h3{
        font-size: 30px;
    }

    .footer{
        margin-top: 10px;
    }
}   

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      
    }

    
  }
