*{
    margin: 0px;
    padding: 0px;
}
.container{
    
    background-image: linear-gradient(rgb(29, 29, 59), rgb(95, 87, 87));
    
    /* flex-direction: column; */
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(100, 99, 99);
    width: 100%;
    background-image: radial-gradient(black, rgb(31, 31, 54) );

}

.navbar a{
    text-decoration: none;
    padding: 14px 16px ; 
    font-size: 20px ;
    text-align: center;  
    color: white;
}

.navbar a:hover{
   color: thistle;
   cursor: pointer;
}

#image{
    width: 60px;
    position: relative;
    right: 80px;
}

h1{
    font-size: 20vh;
    color: whitesmoke;
    margin-top: 15vh;
    margin-left: 5vh ;
    text-transform:uppercase;
    font-family:'Kanit', sans-serif;
}

h2{
    color: whitesmoke;
    text-transform:uppercase;
    font-family:'Kanit', sans-serif;
    font-size: 8vh;
    margin-left: 5vh;
}

.footer{
    margin-top: 5px;
    padding: 20px;
    border-top: 1px solid rgb(100, 99, 99);
    background-image: radial-gradient(black, rgb(31, 31, 54) );
    color: white;
    text-align: center;
}

#construct{
  margin-top: 30vh;
  width: 100%;
  height: auto;
}

.text{
    color: white;
    position: relative;
    top: -115vh;
    /* left: 50vh; */
    font-size: 5vh;
    font-family: sans-serif;
    padding-left: 70vh;
}

.text2{
    color: #EDB525;
    position: relative;
    top: -24vh;
    /* left: 50vh; */
    font-size: 12vh;
    font-family: sans-serif;
    padding-left: 70vh;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:  1px solid rgb(100, 99, 99); */
    position: relative;
    top: -10vh;
}

input,textarea,button{
    width: 33%;  
    margin: 10px; 
    padding: 10px;
    border-radius: 10px;
    border:  2px solid rgb(100, 99, 99);
    color:rgb(31, 31, 54);
    font-weight: 500;
    font-size: 15px;
}

h3{
    font-size: 35px;
    color: rgb(235, 231, 227);
}

button:hover{
    background-color: rgb(19, 12, 19);
    color: white;
    cursor: pointer;
}